<div class="conta">
    <section class="contas">

        <div class="perfil">
            <div class="foto">
                <img src="../img/iconperfil.png" alt="">
                <p>phfts10</p>
            </div>


            <div class="amigo">
                <h1>Amigos</h1>
                <div class="spv">
                    <div>
                        <img src="../img/atriz1.png" alt="">
                        <p>Leila</p>
                    </div>
                    <button>Amigo</button>
                </div>
                <div class="spv">
                    <div>
                        <img src="../img/atriz2.png" alt="">
                        <p>Fran</p>
                    </div>
                    <button>Amigo</button>
                </div>
                <div class="spv">
                    <div>
                        <img src="../img/atriz3.png" alt="">
                        <p>Messi</p>

                    </div>

                    <button>Amigo</button>
                </div>
            </div>
        </div>

    </section>
</div>
@section styles{
    <link href="@Url.Content("~/estilos/style.css")" rel="stylesheet" />
}
