<header>
    <div id="logo">
        <img width="200px" src="~/img/logomarca.png" alt="logomarca Whisper">
    </div>

    <section>
        <div class="grupos">
            <div class="icongrupo"> <img width="25px" src="~/img/imggrupo1.png" alt=""></div>
            <div style="margin-left: 25px;">
                <h1>Estudos Info3</h1>
                <p>dia 29 tem apre...</p>
            </div>
        </div>
        <div class="grupos">
            <div class="icongrupo"> <img width="25px" src="~/img/imggrupo2.png" alt=""></div>
            <div style="margin-left: 25px;">
                <h1>DIATINF</h1>
                <p>os jogos internos... </p>
            </div>
        </div>
        <div class="grupos">
            <div class="icongrupo"> <img width="25px" src="~/img/imggrupo3.png" alt=""></div>
            <div style="margin-left: 25px;">
                <h1>Equipe Futsal</h1>
                <p>hoje tem treino... </p>
            </div>
        </div>
        <div class="grupos">
            <div class="icongrupo"> <img width="25px" src="~/img/imggrupo4.png" alt=""></div>
            <div style="margin-left: 25px;">
                <h1>Apaixonadiinhos</h1>
                <p>Que namorar comigo?</p>
            </div>
        </div>

    </section>

</header>

@section styles{
    <link href="@Url.Content("~/estilos/style.css")" rel="stylesheet" />
}

